body {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 100px 1fr;
  background-color: #D2C9C1;
}

header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: #2e457E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  box-shadow: 0px 2px 4px #00000078;
}

h1 {
  font-size: 3rem;
  padding-left: 20px;
  color: #43A9FE;
  font-family: 'Lobster', cursive;
}

.vidIcon {
  height: 50px;
}

main {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.video-holder {
  background-color: black;
  height: 400px;
  width: 700px;
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0px 2px 4px #00000078;
}

.video-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 200px;
  margin-left: 10px;
}

.play-btn {
  height: 30px;
  border: none;
  background-color: transparent;
}

.progress-bg {
  width: 80%;
  background-color: #E3EFEF;
  height: 20px;
  margin-right: 10px;
}

.progress-fg {
  background-color: #43A9FE;
  height: 100%;
  width: 10%;
}

.current-time, .duration, .slash {
  color: #E3EFEF;
  font-size: 1rem;
  padding-left: 3px;

}

.play-icon {
  height: 30px;
}

aside {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.video-list {
  background-color: #CECECE;
}