p {
  font-family: 'Overpass', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 100px 1fr;
  background-color: #D2C9C1;
}

header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: #2e457E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  box-shadow: 0px 2px 4px #00000078;
}

h1 {
  font-size: 3rem;
  padding-left: 20px;
  color: #43A9FE;
  font-family: 'Lobster', cursive;
}

.vidIcon {
  height: 50px;
}

main {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.video-holder {
  background-color: black;
  height: 500px;
  width: 900px;
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0px 2px 4px #00000078;
}

.video-main {
  width: 900px;
}

.video-holder .video-controls {
  opacity: 0;
  transition: all .5s;
}

.video-holder:hover .video-controls {
  opacity: 1;
  transition: all .5s;

}

.video-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: 48px;
  margin-left: 10px;
}

.play-btn {
  height: 30px;
  border: none;
  background-color: transparent;
}

.progress-bg {
  width: 80%;
  background-color: #E3EFEF;
  height: 20px;
  margin-right: 10px;
}

.progress-fg {
  background-color: #43A9FE;
  height: 100%;
  width: 0%;
}

.current-time, .duration, .slash {
  color: #E3EFEF;
  font-size: 1rem;
  padding-left: 3px;

}

button {
  outline: none;
}

button, .progress-bg, .video-option-1, .video-option-2 {
  cursor: pointer;
}

.play-icon {
  height: 30px;
}

aside {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-list {
  background-color: #CECECE;
  height: 400px;
  width: 90%;
  margin-top: 50px;
  box-shadow: 0 0 7px 1px #00000075
}

.playlist-header {
  height: 65px;
  background-color: #4A5B63;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
}

h2 {
  color: #43A9FE;
  font-size: 2rem;
  margin-left: 10px;
  font-family: 'Lobster', cursive;
}

.playlist-icon {
  height: 30px;
}

.video-option-1, .video-option-2 {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.video-option-1 {
  background-color: #FCFEFC;
}

.still-frame {
  height: 50px;
}

.video-option-2 {
  background-color: #E5E5E5;
}

.arte-china-still {
  margin-right: 35px;
}